
#header{
    font-size: 30px;
    font-family: "Roboto";
    background-color: #044036;
    color:white;
}

#rightbar{
    background-color: #00796B;
    height: 100%;
    max-width:20vw;
    transition : 300ms ease;
}
#leftbar{
    background-color: #00796B;
    height: 100%;
    max-width:19vw;
    transition : 300ms ease;
}
#center-container{
    height: 100%;   
}

.div-content{
    height:100%;
    width:100%;
    background-color: #E0F2F1;
}

#rightbar-icon{
    padding:30px;
    font-size: 36px !important;
    cursor:pointer;
    color:white;
}

#leftbar-icon{
    padding:30px 15px;
    font-size: 36px !important;
    cursor:pointer;
    color:white;
}

.rightbar-menu-main{
    width:14vw;
}

.rightbar-menu{
    padding: 10px;
    font-size: 14px;
    background: #fff;
    min-width: 18vw;
    margin: 0.5rem;
    border-radius: 20px; 
}

.rightbar-menu-collapsed{
    display: none;
    min-width: 4vw;
    margin-left: -1.6vw;
    padding: 30px 15px;
    background: darkgray;
    font-size: 12px;
    border-bottom:1px solid black;
    animation: slideleft 1s;
    animation-fill-mode: both; 
}

.rightbar-menu-collapsed:first-child{
    border-top:1px solid black;
}
.collapse-div{
    max-width:4vw !important;
    .rightbar-menu{
        display: none;
    }
    .rightbar-menu-collapsed{
        display: block;
    }
    .leftbar-menu-main{
        display: none;
    }
}

.gender-toggle > label > input{
    -webkit-appearance: button !important;
    width:40px;
    height:28px;
}